.header {
    z-index: 99;
    width: 100%;
    height: 73px;
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #326148;
    align-items: center;
    font-family: 'Gothic A1', sans-serif;
}
.teamlogo {
    width: 273px;
    height: 73px;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    margin-left: 30px;
}
.headermenu {
    display: flex;
    flex-direction: row;
    margin-left: 163px;
    width: 800px;
    justify-content: space-around;
}
a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.firstmenu, .secondmenu, .thirdmenu {
    display: flex;
    flex-direction: column;
}
.secondmenuline, .thirdmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: #326148;
    z-index: 99;
}
.firstmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.secondmenutext:hover > .secondmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.thirdmenutext:hover > .thirdmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.secondmenu {
    position: relative;
    z-index: 9;
}
.servemenu {
    position: absolute;
    left: -4px;
    width: 110px;
    height: 198px;
    color: white;
    font-size: 18px;
    font-family: 'Gothic A1', sans-serif;
    display: none;
}
.servemenu-content {
    width: 100%;
    height: 100px;
    background-color: #326148;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.servemenu:hover {
    display: flex;
}
.secondmenu:hover > .servemenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.firstservemenu {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.secondservemenu {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.firstservemenu:hover {
    background-color: white;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}
.secondservemenu:hover {
    background-color: white;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}
.firstservemenu:hover > a {
    color: #326148;
}
.secondservemenu:hover > a{
    color: #326148;
}
.clickmenu {
    display: none;
}
.newmenu {
    display: none;
    z-index: 1;
}
.newfirstmenuline, .newsecondmenuline, .newthirdmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: #326148;
    z-index: 99;
}
.newfirstmenutext:hover > .newfirstmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.newsecondmenutext:hover > .newsecondmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.newthirdmenutext:hover > .newthirdmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.smallbackground {
    z-index: -10;
    position: absolute;
    left: 236px;
    background-color: #EBE8E3;
    width: 100%;
    max-width: 960px;
    height: 1580px;
}
.text {
    z-index: -1;
    margin-top: 150px;
    margin-left: 50px;
    font-family: 'Gothic A1', sans-serif;
}
.bigtext {
    font-size: 23pt;
    font-weight: bold;
    color: black;
    margin-top: 60px;
    margin-bottom: 10px;
}
.smalltext {
    font-size: 12pt;
    color: gray;
}
.motionbox {
    z-index: 0;
    position: absolute;
    left: 0px;
    top: 521px;
}
.motionbox img {
    width: 1000px;
    height: 300px;
}
.SSAP {
    z-index: 0;
    position: absolute;
    top: 620px;
    left: 840px;
}
.SSAP img {
    width: 600px;
    height: 220px;
}
.motionbox1 {
    z-index: -5;
    position: absolute;
    top: 1220px;
}
.motionbox1 img {
    width: 350px;
    height: 350px;
}
.firstcircle {
    z-index: 5;
    position: absolute;
    left: 360px;
    top: 1100px;
    width: 230px;
    height: 230px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 50%;
    background-image: url(../images/img_dobby_secondpage_incricle_1.png);
    background-position: center;
}
.secondcircle {
    z-index: 5;
    position: absolute;
    left: 600px;
    top: 1100px;
    width: 230px;
    height: 230px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 77px;
    background-image: url(../images/img_dobby_secondpage_incircle_@.png);
}
.firsttext {
    position: absolute;
    top: 1230px;
    left: 110px;
    z-index: 5;
    font-family: 'Gothic A1', sans-serif;
    display: none;
}
.secondtext {
    z-index: 5;
    position: absolute;
    top: 1230px;
    left: 640px;
    font-family: 'Gothic A1', sans-serif;
    display: none;
}
.go {
    transform: translate(0px, -150px);
}
.see {
    display: block;
}



/* ---------------------- */

body {
    background-color: #F6F3ED;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    scroll-behavior: smooth;
    flex-flow: column nowrap;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

    .safeZone {
        background-color: #F6F3ED;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100vh;

        scroll-snap-align: start;
    }

        .green {
            background-color: #89A78F;
        }

            .mid {
                width: 100%;
                max-width: 60rem;
                background-color: #EBE8E3;
                height: 100vh;
            }

                .realSpaceTaken {
                    width: 100%;
                    height: calc(100vh - 73px);
                    margin-top: 73px;
                    display: flex;
                    flex-flow: row nowrap;
                }
    


/* page 1 */
.page1Box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

#photoSlide {
    min-width: 20rem;
    max-width: 60rem;
    height: fit-content;
    min-height: 200px;
    max-height: 450px;
    /* margin-top: 40px; */
    margin-top: 2.5rem;
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

img {
    display: flex;
    justify-self: center;
    align-self: center;
    margin-top: -40px;
    margin-left: -20px;
    width: 110%;
}

.pageText1 {
    /* font-size: 60px; */
    font-size: 3.75rem;
    /* margin-top: 30px; */
    margin-top: 1.875rem;
}

/* page 2 */
.page2Box {
    width: 100%;
    height: 100%;
    display: grid;
    /* row-gap: 40px; */
    /* grid-template-columns: repeat(auto-fill, minmax(420px, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(26.25rem, 1fr));
}

    .personalInfo {
        /* width: 420px; */
        /* height: 250px; */
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        justify-self: center;
        align-items: center;
    }

        .personalPhoto {
            background-color: black;
            /* width: 420px; */
            width: 26.25rem;
            /* height: 250px; */
            height: 15rem;
            overflow: hidden;
        }

        .slidingpage {
            background-color: rgba(255, 255, 255, 0.829);
            width: 0;
            margin-left: -60%;
            height: 100%;
            transition: 1s;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        .infoText {
            width: fit-content;
            height: fit-content;
            font-size: 40px;
            text-align: center;
        }

        span {
            font-size: 20px;
        }

        .personalPhoto:hover > .slidingpage{
            width: 220%;
            transition: 1.5s;
        }

        .photo1 {
            background-image: url(../images/jerry_photo.jpg);
            background-size: 105%;
            background-position-y: center;
        }

        .photo2 {
            background-image: url(../images/dobby_photo.JPG);
            background-size: 110%;
        }

        .photo3 {
            background-image: url(../images/roommate_photo.jpg);
            background-size: 110%;
        }

        .photo4 {
            background-image: url(../images/della_photo.JPG);
            background-size: 130%;
            background-position: center center;
        }


@media(max-width: 960px) {
    .header, .teamlogo {
        height: 40px;
    }
    .teamlogo {
        width: 220px;
    }
    .headermenu {
        display: none;
    }
    .clickmenu {
        display: block;
        color: white;
        font-size: 22px;
        margin-right: 20px;
        margin-left: auto;
    }
    .newmenu {
        position: fixed;
        top: 40px;
        background-color: #326148;
        opacity: 80%;
        color: white;
        font-family: 'Gothic A1', sans-serif;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        display: none;
        z-index: 9;
    }
    .newfirstmenu, .newsecondmenu, .newthirdmenu {
        height: 60px;
        margin-top: 39px;
    }
    .newservemenu {
        text-align: center;
        display: none;
    }
    .newsecondmenu:hover > .newservemenu {
        display: block;
    }
    .newservemenu a{
        font-size: 15px;
    }
    .newfirstservemenu {
        margin-top: 10px;
    }
    .newfirstservemenu, .newsecondservemenu {
        height: 33px;
    }
    .newfirstserveline, .newsecondserveline {
        border-style: solid;
        border-width: 1px;
        border-color: #326148;
        opacity: 50%;
    }
    .newservemenu a:hover > .newfirstserveline {
        border-style: solid;
        border-width: 1px;
        border-color: white;
    }
    .newservemenu a:hover > .newsecondserveline {
        border-style: solid;
        border-width: 1px;
        border-color: white;
    }
    .smallbackground {
        z-index: -2;
        position: absolute;
        left: 0px;
        background-color: #EBE8E3;
        width: 100%;
        height: 2300px;
    }
    .text {
        margin-top: 400px;
        margin-left: 5px;
        text-align: center;
    }
    .motionbox {
        width: 100%;
        top: 670px;
    }
    .motionbox img {
        width: 100%;
    }
    .SSAP, .motionbox1 {
        display: none;
    }
    .firstcircle {
        top: 1400px;
        left: 50px;
    }
    .firsttext {
        top: 1530px;
    }
    .secondcircle {
        position: absolute;
        top: 1950px;
        left: -30px;
    }
    .secondtext {
        position: absolute;
        top: 2080px;
        left: 116px;
    }
    .show {
        display: flex;
    }
    .mid {
        margin-top: -40px;
    }
    .realSpaceTaken {
        height: calc(100vh - 40px);
    }
    .page1 {
        height: 45rem;
    }
}

@media (max-width: 839px) {
    .container {
        scroll-snap-type: none;
        scroll-behavior: none;
    }

    .page2Box {
        row-gap: 40px;
    }

    .page2 {
        height: 1200px;
        height: 75rem;
    }

    .safeZone {
        scroll-snap-align: none;
        height: max-content;
    }
}

@media (max-width: 500px) {
    .header {
        height: 40px;
    }

    .newmenu {
        margin-top: -33px;
    }

    .teamlogo {
        height: 40px;
    }

    .personalPhoto {
        /* width: 320px; */
        width: 20rem;
        /* height: 190px; */
        height: 11.875rem;
    }

    .personalInfo {
        width: 100%;
    }
    
    .page1 {
        height: 35rem;
    }

    .page2 {
        /* height: 1000px; */
        height: 62.5rem;
    }

    .pageText1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 425px) {
    .container {
        scroll-snap-type: none;
        width: 100%;
        height: fit-content;
        justify-content: center;
        overflow-x: hidden;
    }

    .page2Box {
        grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
    }

    .personalPhoto {
        /* width: 320px; */
        width: 80%;
        /* height: 190px; */
        height: 11.875rem;
    }

    .personalInfo {
        width: 100%;
    }

    .page1 {
        height: 31rem;
    }

    .page2 {
        /* height: 1000px; */
        height: 62.5rem;
    }
    .mid {
        justify-content: center;
    }
}