body {
    background-color: #f6f3ec;
    margin: 0;
}

.void_space {
    width: 100%;
    max-width: 960px;
    height: 150px;
}

.header {
    z-index: 99;
    width: 100%;
    height: 73px;
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: #326148;
    align-items: center;
    font-family: 'Gothic A1', sans-serif;
}

.teamlogo {
    width: 273px;
    height: 73px;
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    margin-left: 30px;
}

.headermenu {
    color: #F6F3EC;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    width: 800px;
    justify-content: space-around;
}

.firstmenu, .secondmenu, .thirdmenu {
    display: flex;
    flex-direction: column;
}

.secondmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}

.firstmenutext:hover > .firstmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}

.thirdmenutext:hover > .thirdmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}

#contents_box {
    background-color: #e0e0e0;
    width: 100vw;
    max-width: 960px;
    height: 2300px;
    margin: auto;
}

    #video_Box {
        width: 100%;
        max-width: 900px;
        height: 600px;
        margin: 0 auto;
        align-items: center;
        padding-top: 73px;
    }

        #video {
            background-color: gray;
            width: 100%;
            height: 500px;
            margin: 0 auto;
            margin-top: 100px;
        }

    #container1 {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 900px;
        height: 600px;
        margin: 0 auto;
    }

        #image {
            background-color: gray;
            height: 526px;
            width: 260px;
            margin: 0 auto;
        }

        #info_Box {
            display: flex;
            flex-direction: column;
            width: 600px;
            height: 526px;
            margin: 0 auto;
        }

            .info {
                display: flex;
                border: #81A78C solid 4px;
                margin: 10px 0;
                width: 600px;
                height: 147px;
            }

                .info_image {
                    background-color: white;
                    width: 200px;
                    height: 147px;
                    text-align: center;
                    line-height: 147px;
                }

                .info_txt {
                    width: 330px;
                    height: 147px;
                    margin: 0 auto;
                }

                    #info_Btxt {
                        height: 40px;
                        width: auto;
                        margin-top: 25px;
                        font-size: 20px;
                        color: #81A78C;
                    }

                    #info_Stxt {
                        height: 40px;
                        width: auto;
                        margin-top: 20px;
                        color: rgb(71, 71, 71);
                        font-size: 15px;
                    }

    #container2 {
        width: 100%;
        max-width: 900px;
        height: 600px;
        margin: 0 auto;
    }

    #img_Box {
        background-color: gray;
        height: 600px;
    }

        #Text_Box {
            width: 450px;
            height: 200px;
            margin-right: 40px;
            margin-left: auto;
            padding-top: 40px;
        }

            #MainText {
                text-align: right;
                font-size: 28px;
                color: #81A78C;
                margin-bottom: 20px;
            }

            #infoText1 {
                text-align: right;
                font-size: 16px;
                margin: 20px 0;
                color: rgb(71, 71, 71);
            }

            .infoText2 {
                text-align: right;
                font-size: 16px;
                color: rgb(71, 71, 71);
            }

        #hrefText_Box {
            height: 20px;
            width: 230px;
            margin-left: 670px;
            margin-top: 340px;
            cursor: pointer;
        }

            #hrefText {
                color: white;
            }

            .fas {
                color: white;
                text-align: right;
            }

@media (max-width: 960px) {
    #video {
        width: 675px;
        height: 375px;
    }
}
