body {
    margin: 0;
    background-color: #89A78F;
}

.header {
    z-index: 99;
    width: 100%;
    height: 73px;
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: #326148;
    align-items: center;
    font-family: 'Gothic A1', sans-serif;
}

    .teamlogo {
        width: 273px;
        height: 73px;
        color: white;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: black;
        margin-left: 30px;
    }

    .headermenu {
        color: #F6F3EC;
        font-size: 18px;
        display: flex;
        flex-direction: row;
        margin-left: 100px;
        width: 800px;
        justify-content: space-around;
    }

    .firstmenu, .secondmenu, .thirdmenu {
        display: flex;
        flex-direction: column;
    }

    .secondmenuline {
        border-style: solid;
        border-width: 1px;
        border-color: white;
        z-index: 99;
    }

    .firstmenutext:hover > .firstmenuline {
        border-style: solid;
        border-width: 1px;
        border-color: white;
        z-index: 99;
    }

    .thirdmenutext:hover > .thirdmenuline {
        border-style: solid;
        border-width: 1px;
        border-color: white;
        z-index: 99;
    }

#contents_box {
    width: 100%;
    max-width: 960px;
    height: 100vh;
    background-color: #7B937F;
    margin: auto;
}

    #container1 {
        width: 100%;
        max-width: 764px;
        height: 50vh;
        margin: auto;
        padding: 30vh 0 20vh 0;
        display: flex;
    }

    .Right_Box {
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .Left_Box {
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .Circle {
            background-color: white;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: solid black 1px;
            text-align: center;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            font-size: 15px;
            cursor: pointer;
        }

            .Circle:hover ~ .TextBox {
                color: white;
            }

        .TextBox {
            width: 80%;
            height: 100%;
            font-size: 15px;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            color: #7B937F;
        }
    