body {
    margin: 0;
}
.header {
    z-index: 99;
    width: 100%;
    height: 73px;
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: #326148;
    align-items: center;
    font-family: 'Gothic A1', sans-serif;
}
.teamlogo {
    width: 273px;
    height: 73px;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    margin-left: 30px;
}
.headermenu {
    display: flex;
    flex-direction: row;
    margin-left: 163px;
    width: 800px;
    justify-content: space-around;
}
a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 18px;
}
.firstmenu, .secondmenu, .thirdmenu {
    display: flex;
    flex-direction: column;
}
.secondmenuline, .thirdmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: #326148;
    z-index: 99;
}
.firstmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.secondmenutext:hover > .secondmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.thirdmenutext:hover > .thirdmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.secondmenu {
    position: relative;
    z-index: 9;
}
.servemenu {
    position: absolute;
    left: -4px;
    width: 110px;
    height: 198px;
    color: white;
    font-size: 18px;
    font-family: 'Gothic A1', sans-serif;
    display: none;
}
.servemenu-content {
    width: 100%;
    height: 100px;
    background-color: #326148;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.servemenu:hover {
    display: flex;
}
.secondmenu:hover > .servemenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.firstservemenu {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.secondservemenu {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.firstservemenu:hover {
    background-color: white;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}
.secondservemenu:hover {
    background-color: white;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}
.firstservemenu:hover > a {
    color: #326148;
}
.secondservemenu:hover > a{
    color: #326148;
}
.clickmenu {
    display: none;
}
.newmenu {
    display: none;
    z-index: 1;
}
.newfirstmenuline, .newsecondmenuline, .newthirdmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: #326148;
    z-index: 99;
}
.newfirstmenutext:hover > .newfirstmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.newsecondmenutext:hover > .newsecondmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.newthirdmenutext:hover > .newthirdmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.smallbackground {
    z-index: -10;
    position: absolute;
    left: 236px;
    background-color: #EBE8E3;
    width: 100%;
    max-width: 960px;
    height: 1580px;
}
.text {
    z-index: -1;
    margin-top: 150px;
    margin-left: 50px;
    font-family: 'Gothic A1', sans-serif;
}
.bigtext {
    font-size: 25pt;
    font-weight: bold;
    color: black;
    margin-top: 60px;
    margin-bottom: 10px;
}
.smalltext {
    font-size: 14pt;
    color: gray;
}
.motionbox {
    z-index: 0;
    position: absolute;
    left: 0px;
    top: 521px;
}
.motionbox img {
    width: 1000px;
    height: 300px;
}
.SSAP {
    z-index: 0;
    position: absolute;
    top: 620px;
    left: 840px;
}
.SSAP img {
    width: 600px;
    height: 220px;
}
.motionbox1 {
    z-index: -5;
    position: absolute;
    top: 1220px;
}
.motionbox1 img {
    width: 350px;
    height: 350px;
}
.firstcircle {
    z-index: 5;
    position: absolute;
    left: 360px;
    top: 1100px;
    width: 230px;
    height: 230px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 50%;
    background-image: url(../images/img_dobby_secondpage_incricle_1.png);
    background-position: center;
}
.secondcircle {
    z-index: 5;
    position: absolute;
    left: 600px;
    top: 1100px;
    width: 230px;
    height: 230px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 77px;
    background-image: url(../images/img_dobby_secondpage_incircle_@.png);
}
.firsttext {
    position: absolute;
    top: 1230px;
    left: 110px;
    z-index: 5;
    font-family: 'Gothic A1', sans-serif;
    display: none;
}
.secondtext {
    z-index: 5;
    position: absolute;
    top: 1230px;
    left: 640px;
    font-family: 'Gothic A1', sans-serif;
    display: none;
}
.go {
    transform: translate(0px, -150px);
}
.see {
    display: block;
}

@media(max-width: 960px) {
    .headermenu {
        display: none;
    }
    .clickmenu {
        display: block;
        color: white;
        font-size: 25px;
        margin-right: 20px;
        margin-left: auto;
    }
    .newmenu {
        position: fixed;
        top: 73px;
        background-color: #326148;
        opacity: 50%;
        color: white;
        font-family: 'Gothic A1', sans-serif;
        width: 100%;
        height: 200px;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .smallbackground {
        z-index: -2;
        position: absolute;
        left: 0px;
        background-color: #EBE8E3;
        width: 100%;
        height: 2300px;
    }
    .text {
        margin-top: 380px;
        margin-left: 5px;
        text-align: center;
    }
    .motionbox {
        width: 100%;
        top: 670px;
    }
    .motionbox img {
        width: 640px;
    }
    .SSAP, .motionbox1 {
        display: none;
    }
    .firstcircle {
        top: 1400px;
        left: 50px;
    }
    .firsttext {
        top: 1530px;
    }
    .secondcircle {
        position: absolute;
        top: 1950px;
        left: -30px;
    }
    .secondtext {
        position: absolute;
        top: 2080px;
        left: 116px;
    }
    .show {
        display: flex;
    }
}