body {
    background-color: #f6f3ec;
    margin: 0;
}

#contents_box {
    position: absolute;
    background-color: #e0e0e0;
    width: 970px;
    height: 2000px;
    margin: 0 auto;
    left: 0;
    right: 0
}

    #video {
        background-color: gray;
        width: 900px;
        height: 500px;
        margin: 25px auto 100px auto;
    }

    #container1 {
        display: flex;
        flex-direction: row;
        width: 900px;
        height: 600px;
        margin: 0 auto;
        margin-top: 25px;

    }

        #image {
            background-color: black;
            height: 526px;
            width: 260px;
        }

        #info_Box {
            display: flex;
            flex-direction: column;
            margin-right: 0;
            margin-left: auto;
            width: 600px;
            height: 526px;
        }

            .info {
                display: flex;
                border: #81A78C solid 4px;
                margin: 10px 0;
                width: 600px;
                height: 147px;
            }

                .info_image {
                    background-color: white;
                    width: 200px;
                    height: 147px;
                    text-align: center;
                    line-height: 147px;
                }

                .info_txt {
                    width: 330px;
                    height: 147px;
                    margin: 0 auto;
                }

                    #info_Btxt {
                        height: 40px;
                        width: auto;
                        margin-top: 25px;
                        font-size: 23px;
                        color: #81A78C;
                    }

                    #info_Stxt {
                        height: 40px;
                        width: auto;
                        margin-top: 20px;
                        color: black;
                    }

    #container2 {
        background-color: black;
        width: 900px;
        height: 600px;
        margin: 0 auto;
        margin-top: 25px;
    }

        #Text_Box {
            background-color: white;
            width: 450px;
            height: 200px;
            margin-right: 0;
            margin-left: auto;
        }

            #MainText {
                text-align: right;
                font-size: 28px;
                color: #81A78C;
                margin-bottom: 20px;
            }

            #infoText1 {
                text-align: right;
                font-size: 16px;
                margin: 20px 0;
                color: rgb(78, 78, 78);
            }

            .infoText2 {
                text-align: right;
                font-size: 16px;
                color: rgb(78, 78, 78);
            }

        #hrefText_Box {
            height: 20px;
            width: 230px;
            margin-left: 670px;
            margin-top: 380px;
            cursor: pointer;
        }

            #hrefText {
                color: white;
            }

            .fas {
                color: white;
                text-align: right;
            }