body {
    margin: 0;
}
.header {
    z-index: 99;
    width: 100%;
    height: 73px;
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: #326148;
    align-items: center;
    font-family: 'Gothic A1', sans-serif;
}
.teamlogo {
    width: 273px;
    height: 73px;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    margin-left: 30px;
}
.headermenu {
    display: flex;
    flex-direction: row;
    margin-left: 163px;
    width: 800px;
    justify-content: space-around;
}
a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 18px;
}
.firstmenu, .secondmenu, .thirdmenu {
    display: flex;
    flex-direction: column;
}
.firstmenuline, .secondmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: #326148;
    z-index: 99;
}
.thirdmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.firstmenutext:hover > .firstmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.secondmenutext:hover > .secondmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.secondmenu {
    position: relative;
    z-index: 9;
}
.servemenu {
    position: absolute;
    left: -4px;
    width: 110px;
    height: 198px;
    color: white;
    font-size: 18px;
    font-family: 'Gothic A1', sans-serif;
    display: none;
}
.servemenu-content {
    width: 100%;
    height: 100px;
    background-color: #326148;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.servemenu:hover {
    display: flex;
}
.secondmenu:hover > .servemenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.firstservemenu {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.secondservemenu {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.firstservemenu:hover {
    background-color: white;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}
.secondservemenu:hover {
    background-color: white;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}
.firstservemenu:hover > a {
    color: #326148;
}
.secondservemenu:hover > a{
    color: #326148;
}
.clickmenu {
    display: none;
}
.newmenu {
    display: none;
}
.newfirstmenuline, .newsecondmenuline, .newthirdmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: #326148;
    z-index: 99;
}
.newfirstmenutext:hover > .newfirstmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.newsecondmenutext:hover > .newsecondmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.newthirdmenutext:hover > .newthirdmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
@media(max-width: 960px) {
    .headermenu {
        display: none;
    }
    .clickmenu {
        display: block;
        color: white;
        font-size: 25px;
        margin-left: 240px;
    }
    .newmenu {
        position: absolute;
        top: 80px;
        background-color: #326148;
        opacity: 50%;
        color: white;
        font-family: 'Gothic A1', sans-serif;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .newfirstmenu, .newsecondmenu, .newthirdmenu {
        height: 60px;
        margin-top: 39px;
    }
    .newservemenu {
        text-align: center;
        display: none;
    }
    .newsecondmenu:hover > .newservemenu {
        display: block;
    }
    .newservemenu a{
        font-size: 15px;
    }
    .newfirstservemenu {
        margin-top: 10px;
    }
    .newfirstservemenu, .newsecondservemenu {
        height: 33px;
    }
    .newfirstserveline, .newsecondserveline {
        border-style: solid;
        border-width: 1px;
        border-color: #326148;
        opacity: 50%;
    }
    .newservemenu a:hover > .newfirstserveline {
        border-style: solid;
        border-width: 1px;
        border-color: white;
    }
    .newservemenu a:hover > .newsecondserveline {
        border-style: solid;
        border-width: 1px;
        border-color: white;
    }
}
.hidden {
    display: none;
}
