body {
    background-color: #81A78C;
    margin: 0%;
}

@font-face {
    font-family: 'Gothic';
    src: url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&display=swap');
}

@font-face {
    font-family: 'Playfair Display';
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap');
}

.container1 {
    position: relative;
    background-color: #ebe8e37e;
    width: 100%;
    max-width: 960px;
    height: 100vh;
    margin: 0 auto;
    left: 0;
    right: 0
}

#slider{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: hidden;
}
#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 10s slider infinite;
}
#slider figure img{
    width: 20%;
    float: left;
}
#photo1 {
    height: 560px;
}

#photo2 {
    height: 560px;
}

#photo3 {
    height: 560px;
}

@keyframes slider {
    0% {
        left: 0;
    }
    33% {
        left: -100%;
    }
    66% {
        left: -200%;
    }
    100% {
        left: -300%;
    }

}

.textbox1 {
    position: absolute;
    justify-content: space-evenly;
    left: 30px;
    bottom: 15px;
    width: 250px;
    height: 150px;
    padding-left: 5%;
    color: black;

}

.firsttextline {
    font-family: 'Gothic';
    font-size: 23pt;
    font-weight: 550;
    padding-top: 5px;
    padding-bottom: 5px;
}

.secondtextline {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.ssaphover {
    font-family: 'Playfair Display';
    font-size: 35pt;
    font-weight: 700;
    padding-bottom: 5px;
    font-style: italic;
    color: #326148;
    text-shadow: 2px 2px 1px black;
}

.ssaphover:hover {
    color: #BEBC70;
    text-shadow: 2px 2px 1px white;
    transform: scale(1.1);
    cursor: pointer;
}

.seconetextlineinline {
    font-family: 'Gothic';
    font-size: 30pt;
    font-weight: 550;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 23px;
}

/*--------------------------------*/

.header {
    z-index: 99;
    width: 100%;
    height: 73px;
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: #326148;
    align-items: center;
    font-family: 'Gothic A1', sans-serif;
}
.teamlogo {
    width: 273px;
    height: 73px;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    margin-left: 30px;
}
.headermenu {
    display: flex;
    flex-direction: row;
    margin-left: 163px;
    width: 800px;
    justify-content: space-around;
}
a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 18px;
}
.firstmenu, .secondmenu, .thirdmenu {
    display: flex;
    flex-direction: column;
}
.firstmenuline, .secondmenuline, .thirdmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: #326148;
    z-index: 99;
}
.firstmenutext:hover > .firstmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.secondmenutext:hover > .secondmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.thirdmenutext:hover > .thirdmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.secondmenu {
    position: relative;
    z-index: 9;
}
.servemenu {
    position: absolute;
    left: -4px;
    width: 110px;
    height: 198px;
    color: white;
    font-size: 18px;
    font-family: 'Gothic A1', sans-serif;
    display: none;
}
.servemenu-content {
    width: 100%;
    height: 100px;
    background-color: #326148;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.servemenu:hover {
    display: flex;
}
.secondmenu:hover > .servemenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.firstservemenu {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.secondservemenu {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.firstservemenu:hover {
    background-color: white;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}
.secondservemenu:hover {
    background-color: white;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}
.firstservemenu:hover > a {
    color: #326148;
}
.secondservemenu:hover > a{
    color: #326148;
}
.clickmenu {
    display: none;
}
.newmenu {
    display: none;
}
.newfirstmenuline, .newsecondmenuline, .newthirdmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: #326148;
    z-index: 99;
}
.newfirstmenutext:hover > .newfirstmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.newsecondmenutext:hover > .newsecondmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.newthirdmenutext:hover > .newthirdmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
@media(max-width: 960px) {
    .headermenu {
        display: none;
    }
    .clickmenu {
        display: block;
        color: white;
        font-size: 25px;
        margin-left: 240px;
    }
    .newmenu {
        position: absolute;
        top: 80px;
        background-color: #326148;
        opacity: 50%;
        color: white;
        font-family: 'Gothic A1', sans-serif;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}
.hidden {
    display: none;
}
