body, ul, li {
    margin: 0;
}

.hidden {
    display: none;
}

.header {
    z-index: 99;
    width: 100%;
    height: 73px;
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: #326148;
    align-items: center;
    font-family: 'Gothic A1', sans-serif;
}
.teamlogo {
    width: 273px;
    height: 73px;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    margin-left: 30px;
}
.headermenu {
    display: flex;
    flex-direction: row;
    margin-left: 163px;
    width: 800px;
    justify-content: space-around;
}
a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 18px;
}
.firstmenu, .secondmenu, .thirdmenu {
    display: flex;
    flex-direction: column;
}
.firstmenuline, .thirdmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: #326148;
    z-index: 99;
}
.secondmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.firstmenutext:hover > .firstmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.thirdmenutext:hover > .thirdmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.secondmenu {
    position: relative;
    z-index: 9;
}
.servemenu {
    position: absolute;
    left: -4px;
    width: 110px;
    height: 198px;
    color: white;
    font-size: 18px;
    font-family: 'Gothic A1', sans-serif;
    display: none;
}
.servemenu-content {
    width: 100%;
    height: 100px;
    background-color: #326148;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.servemenu:hover {
    display: flex;
}
.secondmenu:hover > .servemenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.firstservemenu {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.secondservemenu {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.firstservemenu:hover {
    background-color: white;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}
.secondservemenu:hover {
    background-color: white;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}
.firstservemenu:hover > a {
    color: #326148;
}
.secondservemenu:hover > a{
    color: #326148;
}


.Bcontents_box {
    margin: 0;
    height: 100vh;
    background-color: #f6f3ec;
    scroll-behavior: smooth;
    flex-flow: column nowrap;
    scroll-snap-type: y mandatory;
    overflow: auto;
}

.contents_box {
    background-color: #EBE8E3;
    width: 100vw;
    max-width: 960px;
    height: 760px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

img {
    margin: 0;
    padding: 0;
}
    img:nth-child(1) {
        margin-left: -20%;
        margin-bottom: 0;
        margin-top: 0;
    }
    img:nth-child(3) {
        margin-right: -20%;
        margin-bottom: 0;
    }
    img:nth-child(4) {
        margin-right: -27%;
        margin-top: 0;
    }

    #video_Box {
        width: 100%;
        max-width: 900px;
        height: calc(100vh - 73px);
        margin: 0 auto;
        align-items: center;
        padding-top: 73px;
    }

        #video {
            background-color: gray;
            width: 100%;
            height: 500px;
            margin: 0 auto;
            margin-top: 100px;
        }

    #container1 {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 900px;
        height: calc(100vh - 73px);
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

        #image {
            background-image: url(../images/img_romme_squasher.png);
            background-size: 100%;
            height: 600px;
            width: 280px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
        }

        #image:hover > i{
            animation: shake 1s infinite;
        }

            .fa-exclamation-circle {
                font-size: 20px;
                cursor: pointer;
                color: rgb(16, 31, 100);
            }
            
            #icon1 {
                margin: 100px 75px auto auto;
            }

            #icon2 {
                margin: 200px 65px auto auto;
            }

            #icon3 {
                margin: auto 50px 100px auto;
            }

        .Before {
            height: 526px;
            width: 67%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .Before_hidden {
            display: none;
        }

            #SSAP_Text {
                font-size: 35pt;
                font-weight: bolder;
                font-style: italic;
                color: #326148;
                text-shadow: 2px 2px 1px black;
            }

            #Changing_Text_Box {
                font-size: 30px;
                line-height: 1.5;
            }

                #Changing_Text {
                    height: 1.5em;
                    overflow: hidden;
                    display: inline-block;
                    text-align: center;
                }

                    ul{
                        margin: 0;
                        padding: 0;
                        animation-name: rolling;
                        animation-duration: 4s;
                        animation-iteration-count: infinite;
                        animation-direction: reverse;
                    }

                    li{
                        list-style-type: none;
                    }

            #Compressor {
                margin: 0 auto;
                font-size: 40px;
                font-weight: bolder;
            }

        #info_Box {
            width: 600px;
            height: 526px;
        }
        .info_Box_hidden {
            display: none;
        }

            .info {
                display: flex;
                border: #81A78C solid 4px;
                margin: 10px 0;
                width: 100%;
                max-width: 600px;
                height: 147px;
            }
            .info_hidden {
                display: none;
            }

                .info_image {
                    background-color: white;
                    width: 200px;
                    height: 147px;
                    text-align: center;
                    line-height: 147px;
                }

                .info_txt {
                    width: 330px;
                    height: 147px;
                    margin: 0 auto;
                }

                    #info_Btxt {
                        height: 40px;
                        width: auto;
                        margin-top: 25px;
                        font-size: 20px;
                        color: #81A78C;
                    }

                    #info_Stxt {
                        height: 40px;
                        width: auto;
                        margin-top: 20px;
                        color: rgb(71, 71, 71);
                        font-size: 15px;
                    }

    #container2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 900px;
        height: calc(100vh - 73px);
        margin: 0 auto;
    }

    #img_Box {
        background-image: url(../images/img_romme_squash_system.png);
        height: 600px;
        width: 900px;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

        #Text_Box {
            width: 450px;
            height: 200px;
            margin-right: 45px;
            margin-left: auto;
            padding-top: 60px;
        }

            #MainText {
                text-align: right;
                font-size: 28px;
                color: #81A78C;
                margin-bottom: 20px;
            }

            #infoText1 {
                text-align: right;
                font-size: 16px;
                margin: 20px 0;
                color: rgb(71, 71, 71);
            }

            .infoText2 {
                text-align: right;
                font-size: 16px;
                color: rgb(71, 71, 71);
            }

        #hrefText_Box {
            height: 20px;
            width: 100%;
            cursor: pointer;
            text-align: end;
            justify-content: end;
            margin-top: 33%;
        }

            #hrefText {
                font-size: 15px;
                color: black;
            }

            .fa-long-arrow-alt-right {
                color: black;
                padding-right: 45px;
            }

/* Media query */

@media (max-width: 960px) {
    #video_Box {
        height: 550px;
    }
    
        #video {
            width: 720px;
            height: 400px;
        }

        #image {
            display: none;
        }

        .Before {
            display: none;
        }

        .info_Box_hidden {
            display: block;
        }

        .info_hidden {
            display: flex;
        }

    #container2 {
        justify-content: center;
    }
    
    #img_Box {
        height: 500px;
        width: 750px;
        background-size: 100%;
    }

        #Text_Box {
            margin-right: 20px;
            padding-top: 20px;
        }

            #MainText {
                font-size: 24px;
            }

            #infoText1 {
                font-size: 14px;
            }

            .infoText2 {
                font-size: 14px;
            }

        #hrefText_Box {
            font-size: 14px;
            margin-top: 35%;
        }
}

@media (max-width: 750px) {
    #img_Box {
        height: 400px;
        width: 600px;
    }

        #MainText {
            font-size: 22px;
        }

        #infoText1 {
            font-size: 12px;
        }

        .infoText2 {
            font-size: 12px;
        }

    #hrefText_Box {
        font-size: 12px;
        margin-top: 35%;
    }
}

@media (max-width: 630px) {

}

@media (max-width: 1439px) {
    img {
        display: none;
    }
}

@media (min-height: 1254px) {
    #video_Box {
        display: flex;
        justify-content: center;
    }
}

/* Animation */

@keyframes shake {
    0%{
        transform: translate(1px, 1px) rotate(0deg);
    }
    10%{
        transform: translate(-1px, -1px) rotate(1deg);
    }
    20%{
        transform: translate(-2px, 1px) rotate(-1deg);
    }
    30%{
        transform: translate(1px, 2px) rotate(0deg);
    }
    40%{
        transform: translate(-1px, 1px) rotate(1deg);
    }
    50%{
        transform: translate(1px, -1px) rotate(-2deg);
    }
    60%{
        transform: translate(2px, 1px) rotate(1deg);
    }
    70%{
        transform: translate(-1px, 2px) rotate(2deg);
    }
    80%{
        transform: translate(2px, -1px) rotate(1deg);
    }
    90%{
        transform: translate(-1px, 2px) rotate(0deg);
    }
    100%{
        transform: translate(2px, 1px) rotate(-1deg);
    }
}

@keyframes rolling {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-20%);
    }

    50% {
        transform: translateY(-40%);
    }

    75% {
        transform: translateY(-60%);
    }

    100% {
        transform: translateY(-80%);
    }
}