.header {
    z-index: 99;
    width: 100%;
    height: 73px;
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #326148;
    align-items: center;
    font-family: 'Gothic A1', sans-serif;
}
.teamlogo {
    width: 273px;
    height: 73px;
    color: white;
    font-size: 20pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    margin-left: 30px;
}
.headermenu {
    color: #F6F3EC;
    font-size: 17pt;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    width: 800px;
    justify-content: space-around;
}
.firstmenu, .secondmenu, .thirdmenu {
    display: flex;
    flex-direction: column;
}
.firstmenutext:hover > .firstmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.secondmenutext:hover > .secondmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.thirdmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}


/* ---------------------- */

body {
    background-color: #F6F3ED;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    width: 100%;
    height: 703px;
    display: flex;
    scroll-behavior: smooth;
    flex-flow: column nowrap;
    scroll-snap-type: y mandatory;
    overflow: auto;
}

    .safeZone {
        background-color: #F6F3ED;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 703px;

        scroll-snap-align: start;
    }

        .green {
            background-color: #89A78F;
        }

            .mid {
                width: 100%;
                max-width: 960px;
                background-color: #EBE8E3;
                height: 703px;
            }

            .midGreen {
                width: 100%;
                max-width: 960px;
                background-color: #7B937F;
                height: 703px;
            }

                .realSpaceTaken {
                    width: 100%;
                    height: 630px;
                    margin-top: 73px;
                    display: flex;
                    flex-flow: row nowrap;
                }
    


/* page 1 */
.page1Box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

#photoSlide {
    width: 100%;
    height: 70%;
    margin-top: 40px;
    background-color: black;
}

.pageText1 {
    font-size: 60px;
    margin-top: 30px;
}


/* page 2 */
.page2Box {
    width: 100%;
    height: 100%;
    display: grid;
    /* row-gap: 40px; */
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
}

    .personalInfo {
        /* width: 420px; */
        /* height: 250px; */
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .personalPhoto {
            background-color: black;
            width: 420px;
            height: 250px;
        }

@media (max-width: 839px) {
    .container {
        scroll-snap-type: y proximity;
    }

    .page2Box {
        row-gap: 40px;
    }

    .page2 {
        height: 1300px;
    }
}

@media (max-width: 500px) {
    .personalPhoto {
        width: 320px;
        height: 190px;
    }

    .personalInfo {
        width: 100%;
    }

    .page2 {
        height: 1000px;
    }
}