body {
    margin: 0;
}
.header {
    z-index: 99;
    width: 100%;
    height: 73px;
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #326148;
    align-items: center;
    font-family: 'Gothic A1', sans-serif;
}
.teamlogo {
    width: 273px;
    height: 73px;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    margin-left: 30px;
}
.headermenu {
    display: flex;
    flex-direction: row;
    margin-left: 163px;
    width: 800px;
    justify-content: space-around;
}
a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.firstmenu, .secondmenu, .thirdmenu {
    display: flex;
    flex-direction: column;
}
.secondmenuline, .thirdmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: #326148;
    z-index: 99;
}
.firstmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.secondmenutext:hover > .secondmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.thirdmenutext:hover > .thirdmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.secondmenu {
    position: relative;
    z-index: 9;
}
.servemenu {
    position: absolute;
    left: -4px;
    width: 110px;
    height: 198px;
    color: white;
    font-size: 18px;
    font-family: 'Gothic A1', sans-serif;
    display: none;
}
.servemenu-content {
    width: 100%;
    height: 100px;
    background-color: #326148;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.servemenu:hover {
    display: flex;
}
.secondmenu:hover > .servemenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.firstservemenu {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.secondservemenu {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.firstservemenu:hover {
    background-color: white;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}
.secondservemenu:hover {
    background-color: white;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}
.firstservemenu:hover > a {
    color: #326148;
}
.secondservemenu:hover > a{
    color: #326148;
}
.clickmenu {
    display: none;
}
.newmenu {
    display: none;
    z-index: 1;
}
.newfirstmenuline, .newsecondmenuline, .newthirdmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: #326148;
    z-index: 99;
}
.newfirstmenutext:hover > .newfirstmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.newsecondmenutext:hover > .newsecondmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.newthirdmenutext:hover > .newthirdmenuline {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    z-index: 99;
}
.smallbackground {
    z-index: -10;
    position: absolute;
    left: 236px;
    background-color: #EBE8E3;
    width: 100%;
    max-width: 960px;
    height: 1580px;
}
.text {
    z-index: -1;
    margin-top: 150px;
    margin-left: 50px;
    font-family: 'Gothic A1', sans-serif;
}
.bigtext {
    font-size: 23pt;
    font-weight: bold;
    color: black;
    margin-top: 60px;
    margin-bottom: 10px;
}
.smalltext {
    font-size: 12pt;
    color: gray;
}
.motionbox {
    z-index: 0;
    position: absolute;
    left: 0px;
    top: 521px;
}
.motionbox img {
    width: 1000px;
    height: 300px;
}
.SSAP {
    z-index: 0;
    position: absolute;
    top: 620px;
    left: 840px;
}
.SSAP img {
    width: 600px;
    height: 220px;
}
.motionbox1 {
    z-index: -5;
    position: absolute;
    top: 1220px;
}
.motionbox1 img {
    width: 350px;
    height: 350px;
}
.firstcircle {
    z-index: 5;
    position: absolute;
    left: 360px;
    top: 1100px;
    width: 230px;
    height: 230px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 50%;
    background-image: url(../images/img_dobby_secondpage_incricle_1.png);
    background-position: center;
}
.secondcircle {
    z-index: 5;
    position: absolute;
    left: 600px;
    top: 1100px;
    width: 230px;
    height: 230px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 77px;
    background-image: url(../images/img_dobby_secondpage_incircle_@.png);
}
.firsttext {
    position: absolute;
    top: 1230px;
    left: 110px;
    z-index: 5;
    font-family: 'Gothic A1', sans-serif;
    display: none;
}
.secondtext {
    z-index: 5;
    position: absolute;
    top: 1230px;
    left: 640px;
    font-family: 'Gothic A1', sans-serif;
    display: none;
}
.go {
    transform: translate(0px, -150px);
}
.see {
    display: block;
}

/* ---------------------------------------------------------- */

body {
    background-color: #F6F3ED;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    scroll-snap-type: y mandatory;
    overflow: auto;
}

.safeZone {
    background-color: #F6F3ED;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.green {
    background-color: #89A78F;
}

.mid {
    width: 100%;
    max-width: 60rem;
    background-color: #EBE8E3;
    height: 100vh;
}

.midGreen {
    width: 100%;
    max-width: 60rem;
    background-color: #7B937F;
    height: 100vh;
}

.realSpaceTaken {
    width: 100%;
    height: calc(100% - 73px);
    margin-top: 73px;
    display: flex;
    flex-flow: row nowrap;
}

/* page 1 --------------------------------------------------------- */

#animationWater {
    height: 100%;
    /* width: 540px; */
    width: 33.75rem;
}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;

}

#waterSideTextBox1 {
    height: 100%;
    /* width: 420px; */
    width: 26.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#waterSideText1 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#waterSSAP {
    /* font-size: 60px; */
    font-size: 3.75rem;
}

#waterRolling {
    /* width: 200px; */
    width: 12.5rem;
    /* height: 70px; */
    height: 3rem;
    /* font-size: 20px; */
    font-size: 3rem;
    line-height: 1;
    overflow: hidden;
    border: black 3px solid;

}

#Changing_Text {
    height: 1.5em;
    overflow: hidden;
    display: inline-block;
    text-align: center;
}

    ul{
        margin: 0;
        padding: 0;
        animation-name: rolling;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: reverse;
    }

    li{
        list-style-type: none;
    }

@keyframes rolling {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-20%);
    }

    50% {
        transform: translateY(-40%);
    }

    75% {
        transform: translateY(-60%);
    }

    100% {
        transform: translateY(-80%);
    }
}

#washerText {
    /* font-size: 55px; */
    font-size: 3.5rem;
    margin-top: 0.9rem;
}

/* page 2 -------------------------------------------------------- */

#waterSideTextBox2 {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    background-image: url(../images/img_jerry_washer-removebg-preview.png);
    background-size: 20rem;
    background-repeat: no-repeat;
    background-position: top 100px left 20px;
}

.sideText2 {
    display: flex;
    flex-flow: column;
    justify-content: right;
    /* margin-top: 130px; */
    margin-top: 8rem;
    /* margin-right: 100px; */
    margin-right: 6.25rem;
    /* margin-left: 100px; */
    margin-left: 6.25rem;
}

.greenTitle {
    text-align: right;
    /* font-size: 30px; */
    font-size: 1.875rem;
    font-weight: bold;
    color: #90A791;
}

.subText2 {
    text-align: right;
    /* font-size: 18px; */
    font-size: 1.125rem;
}

/* page 3 ------------------------------------------------------ */

#timeLine {
    /* width: 960px; */
    width: 60rem;
    height: calc(100% - 73px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    justify-content: center;
    align-items: center;
    background-image: url(../images/gif_jerry_washer_history.gif);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
}

.timeLineBox {
    height: 37.5rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.timeBox {
    background-color: black;
    /* width: 150px; */
    width: 9.375rem;
    /* height: 170px; */
    height: 10.625rem;
    margin-bottom: 0;
    border-radius: 10px;
}

.timeBox:hover~.timeText {
    display: inline-block;
}

/* .showw {
    display: flex;
} */

.timeText:hover {
    display: inline-block;
}

.timeText {
    /* padding-top: 10px; */
    padding-top: 0.625rem;
    margin: 0;
    display: none;
    /* width: 150px; */
    width: 9.375rem;
    /* height: 200px; */
    height: 12.5rem;
    background-color: #89a78faf;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media(max-width: 960px) {
    .header, .teamlogo {
        height: 40px;
    }
    .teamlogo {
        width: 220px;
    }
    .headermenu {
        display: none;
    }
    .clickmenu {
        display: block;
        color: white;
        font-size: 22px;
        margin-right: 20px;
        margin-left: auto;
    }
    .newmenu {
        position: fixed;
        top: 40px;
        background-color: #326148;
        opacity: 80%;
        color: white;
        font-family: 'Gothic A1', sans-serif;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        display: none;
        z-index: 9;
    }
    .newfirstmenu, .newsecondmenu, .newthirdmenu {
        height: 60px;
        margin-top: 39px;
    }
    .newservemenu {
        text-align: center;
        display: none;
    }
    .newsecondmenu:hover > .newservemenu {
        display: block;
    }
    .newservemenu a{
        font-size: 15px;
    }
    .newfirstservemenu {
        margin-top: 10px;
    }
    .newfirstservemenu, .newsecondservemenu {
        height: 33px;
    }
    .newfirstserveline, .newsecondserveline {
        border-style: solid;
        border-width: 1px;
        border-color: #326148;
        opacity: 50%;
    }
    .newservemenu a:hover > .newfirstserveline {
        border-style: solid;
        border-width: 1px;
        border-color: white;
    }
    .newservemenu a:hover > .newsecondserveline {
        border-style: solid;
        border-width: 1px;
        border-color: white;
    }
    .smallbackground {
        z-index: -2;
        position: absolute;
        left: 0px;
        background-color: #EBE8E3;
        width: 100%;
        height: 2300px;
    }
    .text {
        margin-top: 400px;
        margin-left: 5px;
        text-align: center;
    }
    .motionbox {
        width: 100%;
        top: 670px;
    }
    .motionbox img {
        width: 100%;
    }
    .SSAP, .motionbox1 {
        display: none;
    }
    .firstcircle {
        top: 1400px;
        left: 50px;
    }
    .firsttext {
        top: 1530px;
    }
    .secondcircle {
        position: absolute;
        top: 1950px;
        left: -30px;
    }
    .secondtext {
        position: absolute;
        top: 2080px;
        left: 116px;
    }
    .show {
        display: flex;
    }
}

@media (max-width: 960px) {
    .midGreen {
        height: 900px;
    }
    .container {
        scroll-snap-type: none;
    }
    .spacePage3 {
        align-items: center;
    }
    #timeLine {
        background-image: none;
    }
    .timeLineBox {
        height: 390px;
    }
}

@media (max-width: 875px) {
    #waterSideTextBox2 {
        background-image: none;
    }
}

@media (max-width: 642px) {
    .sideText2 {
        margin-top: 2rem;
        margin-right: 2rem;
        margin-left: 2rem;
    }

    #waterSideTextBox2 {
        background-image: url(../images/img_jerry_washer-removebg-preview.png);
        background-position: bottom 20px center;
    }
}

@media (max-width: 542px) {
    .subText2 {
        font-size: 0.925rem;
    }
}

@media (max-width: 500px) {
    .header {
        height: 40px;
    }

    .newmenu {
        margin-top: -33px;
    }

    .teamlogo {
        height: 40px;
    }

    .realSpaceTaken {
        height: calc(fit-content - 40px);
    }

    .mid {
        margin-top: -40px;
    }
    .spacePage1 {
        justify-content: center;
    }
    #waterSideTextBox1 {
        height: 400px;
    }
    #waterSideTextBox2 {
        height: 600px;
        background-size: 15rem;
    }
    .page1 {
        height: 400px;
    }

    #animationWater {
        display: none;
    }

    .greenTitle, .subText2 {
        text-align: left;
    }
}

@media (max-width: 479px) {
    .midGreen {
        height: 950px;
    }
    .page2 {
        height: 700px;
    }
    #timeline {
        row-gap: 40px;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
    .timeText {
        display: flex;
    }
    #animationWater {
        display: none;
    }
    .timeLineBox {
        height: fit-content;
        flex-flow: row nowrap;
        margin-bottom: 40px;
    }
    .timeText {
        height: fit-content;
        padding-top: 0;
        margin-left: 1rem;
    }
}

/* Breaking Points 780, 716*/