body {
    margin: 0;
}
.header {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: #326148;
    background-color: #326148;
    border-width: 1px;
    align-items: center;
}
.teamlogo {
    color: white;
    font-size: 27pt;
    border-style: solid;
    border-color: black;
    border-width: 13px;
    background-color: black;
    width: 150px;
    margin-left: 20px;
    text-align: center;
}
.headermenu {
    color: #F6F3EC;
    font-size: 21pt;
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content: space-around;
    margin-left: 210px;
}